
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: 100%;
    background: url("../img/lindoBg.jpg") no-repeat center center;
}

@font-face {
    font-family: Calibri;
    src: url("../fonts/calibri.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

.flexProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Calibri;
    width: 100%;
}

.centerProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centerProduct img{
    width: 100%;
}
.centerProduct h1 {
    font-family: Calibri;
    font-size: 50px;
}
.boxP{
    position: relative;
    width: 100%;
    height: auto;
}
.box-texts{
    position: absolute;
    left: 10px;
    width: 48%; display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.line{
    margin: 20px 0 20px 0;
    display: inline-flex;
    width: 100%;
    height: 10px;
    background: linear-gradient(80deg,#ffaab0,#bceaf6,#ffdee6);
    left: 40%;
    border-radius: 20px;
}

.box-photos{
    position: absolute;
    right: 10px;
    width: 48%;
}
.box-photos img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}